<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExchange" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.33.96.164:8001/Exchange.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IExchange" contract="LogService.IExchange"
                name="BasicHttpBinding_IExchange" />
        </client>
    </system.serviceModel>
</configuration>