<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--用于日志-->
    <add key="SiteID" value="1" />
    <!--appName:应用程序部署唯一标示名，通过它定位日志来源机器 -->
    <add key="appName" value="redis-task" />
    <!--日志写入位置类型 all:既写到日志服务器，也写入本机;remote:只写入日志服务器local:只写入本机 -->
    <add key="logToType" value="all" />
    <!--定时器 1分钟 -->
    <add key="logTimer" value="60000" />
    <add key="QueueUrl" value="FormatName:DIRECT=tcp:10.33.97.232\private$\MyLogs"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--日志WCF-->
        <binding name="BasicHttpBinding_IExchange" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--日志WCF-->
      <endpoint address="http://10.33.96.253:8003/Exchange.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchange" contract="LogService.IExchange" name="BasicHttpBinding_IExchange" />
    </client>
  </system.serviceModel>
</configuration>