@{
    Layout = null;
}
@model IEnumerable<MVCForCLR.Models.Employee>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{
            foreach(var item in Model)
            {
                <span>@item.Name</span><br />
                <span>@item.Salary</span>
                <span>@DateTime.Now.ToString()</span>
            }                        
        }
    </div>
</body>
</html>
